*{margin: 0;padding: 0;outline: 0}
body{font-family: arial;font-size: 14px;line-height: 18px;color: #000;}

.template{width:960px; margin: 0 auto;}
.clear{overflow: hidden;}
.headersection{background: #2F2D2E;color: #fff;margin-top: 100px;}

.logo {
  float: left;
  width: 430;
}
.logo img {
  float: left;
  margin-right: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  width: 70px;
}

.logo h2 {
  font-size: 30px;
  line-height: 1;
  padding-top: 10px;
  text-shadow: 2px 2px 0 #666;
  color: #fff;
}



.social {
  float: right;
  padding-top: 16px;
  width: 255px;
}
.social img {
  width: 30px;
}



.slidersection {
  margin-bottom: 12px;
  box-shadow: 0px 8px 10px -2px #555;
}



